#tituloPag {
  text-align: center;
}

h1 {
  color: purple;
}

#buscadoresh2 {
  text-align: center;
}

#tra {
  width: 200px;
  height: 200px;
  background-color: aqua;
  transition: background-color 2s,  border-radius 0.8s;
}

#tra:hover {
  background-color: rgba(177, 14, 14, 0.705);
  border-radius: 50%;
}

section div {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 20px;
  transition: margin-left 1s, background-color 2s;
}

section:hover div {
  margin-left: 300px;
  background-color: rgb(22, 121, 121);
}


div:nth-of-type(1) {
  transition-timing-function: ease-in;
}

div:nth-of-type(2) {
  transition-timing-function: ease-out;
}

div:nth-of-type(3) {
  transition-timing-function:  0.6s cubic-bezier(0.37, 0, 0.63, 1);
}