#tituloPag {
  text-align: center;
}

h1 {
  color: purple;
}

#buscadoresh2 {
  text-align: center;
}

#tra {
  width: 200px;
  height: 200px;
  background-color: aqua;
  transition: background-color 1s, border-radius 0.8s;
}

#tra:hover {
  background-color: red;
  border-radius: 50%;
}

section div {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 20px;
  transition: margin-left 1s, background-color 2s;
}

section:hover div {
  margin-left: 200px;
  background-color: rgb(22, 121, 121);
}
